################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/packages
**/.vs
**/bin/Debug
**/bin/Release
**/obj/Debug
**/obj/Release
